[submodule "LivelyKernel"]
	path = LivelyKernel
	url = https://github.com/LivelyKernel/LivelyKernel
[submodule "system-navigator"]
	path = system-navigator
	url = https://github.com/rksm/clj-system-navigator.git
[submodule "clj-feather"]
	path = clj-feather
	url = https://github.com/rksm/clj-feather.git
